*{
    margin: 0;
    padding: 0;
}
body{
     background-image: url('background.jpg');
     background-size: cover;
}
#container{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px  red;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
form{
    margin: 36px;
}
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 15px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
#btn{
    margin-top: 18px;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}